<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI FOR ROBOT</title>
    <style>
        html {
            font-family: Helvetica;
            display: inline-block;
            margin: 0px auto;
            text-align: center;
        }
        .button {
            background-color: #195B6A;
            border: none;
            color: white;
            padding: 16px 40px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>
            CLICK THE BUTTON TO SWITCH THE ROBOT ON/OFF
        </h1>
        <p><button class="button" v-on:click="toggle">SWITCH {{value}}</button></p>
        <h2>Sensor data: </h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
            <tr v-for="(sensor,index) in sensors.slice().reverse()">
                <td>{{index}}</td>
                <td>{{ sensor.temp }}</td>
                <td>{{ sensor.humidity }}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    Vue.config.devtools = true;
    var myObject = new Vue({
        el: '#app',
        data: {
            value: "unknown",
            temperature: "nan",
            sensors: [
                {
                    temp: "nan",
                    humidity: "nan"
                },
                {
                    temp: "nan",
                    humidity: "nan"
                }
            ]
        },
        mounted() {
            //var self = this;
            console.log(document.location.host);
            window.exampleSocket = new WebSocket(`ws://${document.location.host}/admin`, "protocolOne");
            window.exampleSocket.onopen = (event) => {
                //window.exampleSocket.send("Here's some text that the server is urgently awaiting!");
                window.exampleSocket.onmessage = (event) => {
                    //console.log(event.data);
                    if(event.data==="ON" || event.data==="OFF")
                        this.value = event.data;
                    else
                    {
                        if(event.data[0]==="T")
                        {
                            this.temperature = event.data.slice(2);

                        }
                        else if(event.data[0]==="H")
                        {
                            //console.log(this.sensors);
                            this.sensors.push({
                                temp: this.temperature,
                                humidity: event.data.slice(2)
                            })
                            //console.log(this.sensors);
                            if(this.sensors.length > 10)
                            {
                                this.sensors.splice(0,1);
                                console.log(this.sensors.length);
                            }
                        }
                    }
                }
                console.log("hi!!");
            };
        },
        methods: {
            toggle: function (event) {
                if (this.value === "OFF")
                {
                    this.value = "ON";
                    if(window.exampleSocket.readyState === window.exampleSocket.CLOSED)
                    {
                        console.log("Closed!");
                        window.location.reload();
                    }
                    console.log("OFF");
                    window.exampleSocket.send("OFF");

                }
                else
                {
                    this.value = "OFF";
                    if(window.exampleSocket.readyState === window.exampleSocket.CLOSED)
                    {
                        console.log("Closed!");
                        window.location.reload();
                    }
                    console.log("ON");
                    window.exampleSocket.send("ON");

                }
    }
        }
    })
</script>

</html>